h1{
    font-family: monospace;
}
h1,h2{
    color: #fff;
}
p{
    color: #bdbdbd;
}
.foodCard{
    background-color: #702b28;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 300px;
    text-align: center;
}
.wrapperFood{
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    font-family: sans-serif;
}
.titleFoods{
    display: block;
    padding-top: 80px;
    text-align: center;
}
.cardCount{
    color: #ff0059;
    font-weight: bold;
}
.wrapperBusca{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 6.8%;
    margin-top: 3%;
    gap: 2%;
}
.wrapperBusca input{
    border-radius: 10px;
    padding: 5px;
}