.orangeFruit{
    width: 100%;
}
.wrapperOrange{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius:50%;
    background-color:#360940;
    box-shadow: 10px 10px 0px #b94a44;
}
header{
    background-color: #fff;
    height: 60px;
    position: fixed;
    width: 100%;
    background-color:#360940;
    z-index: 1;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 5%;
}
.ulHome{
    display: flex;
    gap: 20px;
}
.ulHome li{
    padding: 10px;
    background-color: #360940;
    border-radius: 20px;
    cursor: pointer;
}
.ulHome li:hover{
    transition: all .5s;
    background-color:#b94a44;

}
.ulHome li a{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
.mainHome{
    height: 100%;
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
}
.wrapperMain{
    background-image: url('https://images.pexels.com/photos/15222245/pexels-photo-15222245.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1    ');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 10% 0;
}
.titleMain{
    width: 500px;
    background-color: #b94a44;
    padding: 30px;
    border-radius: 20px;
    color: #fff;
    text-shadow: 0 0 10px #36004a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.titleMain h1{
    font-size: 3rem;
    text-decoration: underline;
    color: #fff;
}
.titleMain h2{
    font-size: 2rem;
    color: #fff;
}
.titleMain p{
    padding-top: 20px;
    color: #fff;
    text-align: justify;
}
.aboutMain{
    padding: 5% 20%;
    background-color: #50143f;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    color: #fff;
}
.aboutMain h1{
    font-size: 3rem;
    color: #fff;
}
.aboutMain p{
    text-align: justify;
    color: #fff;
}