h1{
    color: #fff;
}
.wrapper{
    display: flex;
}
.wrapperTitle{
    background-image: url('https://images.pexels.com/photos/209339/pexels-photo-209339.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.wrapperTitle h1{
    background-color: rgba(81, 0, 110, 0.796);
    padding: 50px;
    border-radius: 10px;
}
.wrapperLogin{
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 30%;
}
.formLogin{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px 40px;
    border-radius: 10px;
    background: radial-gradient(circle, rgba(113,0,118,1) 0%, rgb(72, 0, 73) 100%);
    height: 100%;
    justify-content: center;
}
.formLogin > label{
    color: #fff ;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.formLogin > input{
    border-radius: 5px;
    border: none;
    padding: 5px 0;
    padding-left: 5px;
    margin-bottom: 5%;
    outline: none;
}
.formLogin button{
    background-color: #67006e;
    color: #fff;
    padding: 5px 0;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(68, 0, 53);
}
.formLogin button:hover{
    background-color: #330048;
}
.formLogin a{
    margin-top: 20px;
    text-align: center;
}